/* @font-face {
    font-family: 'Averia';
    src: url('./Averia.ttf'); 
    font-weight: normal;  
    font-style: normal;  
} */
/* 
@font-face {
    font-family: 'ces';
    src: url('./2.ttf'); 
    font-weight: normal;  
    font-style: normal;  
} */

@font-face {
    font-family: 'ces';
    src: url('./3.ttf'); 
    font-weight: normal;  
    font-style: normal;
}